:root {
    --black: #000;
    --gray-1: #111;
    --gray-2: #222;
    --gray-3: #333;
    --gray-8: #888;
    --gray-d: #ddd;
    --gray-2-transparent: #22222299;
    --orange: #ec7800;
    --white: #fff;
    --indigo: #907ad6;
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'cover';
    src: url('../assets/types/SparkyStonesRegular-BW6ld.ttf');
}

.d-none {
    display: none !important;
}

#game-bg-wrapper {
    height: 100%;
    background-color: var(--white);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ========= PORTADA ========= */

#portada {
    width: min(100%,768px);
    height: 100%;
    position: relative;
    background-color: var(--indigo);
    display: flex;
    flex-direction: column;
}

.game-border {
    box-shadow: 4px 4px 4px var(--gray-2-transparent);
    border: 1px solid var(--gray-d);
}

.div-cover-img {
    flex-grow: 3;
    margin: auto;
    max-width: 100%;
    height: 70%;
    aspect-ratio: 1;
}

.cover-img {
    --margin-w: 1.5rem;
    --margin-h: 1rem;
    width: calc(100% - 2 * var(--margin-w));
    height: calc(100% - 2 * var(--margin-h));
    margin: var(--margin-h) var(--margin-w);
    background-color: var(--white);
    padding: 2%;
    object-fit: cover;
}

#inicio-texto {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: clamp(0px,1vw,0.25rem);
    padding: 2%;
    position: relative;
}

#inicio-texto::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    mix-blend-mode: overlay;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

#inicio-texto > h1,
#inicio-texto > h2,
#inicio-texto > h3 {
    margin: 0;
    width: 100%;
    min-width: 0;
}

.cover-text {
    font-family: 'cover', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--gray-2);
    word-break: keep-all;
    text-align: center;
    text-shadow:
        3px 3px 0 var(--white),
        -3px 3px 0 var(--white),
        -3px -3px 0 var(--white),
        3px -3px 0 var(--white);
}

.cover-title {
    text-transform: uppercase;
    font-size: clamp(0.8em,6.4vw,2.4em);
}

.cover-subtitle {
    font-size: clamp(0.5em,4vw,1.5em);
}

.cover-authors {
    font-size: clamp(0.5em,2.5vw,1.5em);
}

.boton-bonito {
    background-color: var(--orange);

    color: var(--gray-2);
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(1.4em,5vw,1.6em);
    font-weight: bold;
    text-transform: uppercase;

    outline: 0;
    border: 0;
    box-shadow: 4px 4px 0 var(--gray-3);
    width: clamp(200px,16vw,400px);
    aspect-ratio: 4/1;
    transition-duration: 0.4s;
}

.boton-bonito:hover {
    transition-duration: 0.4s;
    transform: translate(-4px,-4px);
    box-shadow: 8px 8px 0 var(--gray-3);
}

.boton-bonito:active {
    transform: translate(0,0);
    box-shadow: 4px 4px 0 var(--gray-2);
}

#btn-start-game {
    margin: auto;
}


/* Una vez empezado el juego */
#game {
    width: 98%;
    height: 98%;
    display: flex;
}

#game * {
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(1em,10vw,1.05em);
}

.game-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

#text-col {
    background-color: var(--white);
    z-index: 3;
    overflow-x: hidden;
    overflow-y: auto;
}

#scene-text {
    width: 100%;
}

#action-selectors {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    gap: 14px;

    padding: 2%;
    border-top: 1px solid var(--gray-3)
}

#action-selectors > span {
    color: var(--gray-3);
    position: relative;
    cursor: pointer;
    text-align: end;
}

#action-selectors > span:hover {
    cursor: pointer;
    color: var(--gray-1);
    font-style: italic;
    text-decoration: underline;
}


#action-selectors > span::after {
    content: '\25C0';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-125%,-50%);
    color: var(--gray-3);
    transition-duration: 0.5s;
}

#action-selectors > span:hover::after {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-225%,-50%);
    transition-duration: 0.5s;
    font-style: normal;
}

form {
    position: relative;
    width: 100%;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

.game-text-input {
    height: 36px;
    flex-grow: 3;
    border-width: 1px 0 1px 1px;
    border-color: var(--gray-d);
    border-radius: 6px 0 0 6px;
}

.game-text-input:focus {
    height: 36px;
    box-sizing: border-box;
    outline: 0;
    border-width: 1px 0 1px 1px;
    border-color: var(--gray-3);
}

.submit-text-input {
    height: 36px;
    flex-grow: 1;
    background-color: var(--orange);
    color: var(--black);
    border-width: 1px;
    border-color: var(--gray-3);
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    box-shadow: 0 0 0 var(--gray-3);
}

.submit-text-input:hover {
    height: 36px;
    transition-duration: 0.4s;
    transform: translate(-4px,-4px);
    box-shadow: 4px 4px 0 var(--gray-3);
}

.submit-text-input:active {
    height: 36px;
    transition-duration: 0.4s;
    transform: translate(0,0);
    box-shadow: 0 0 0 var(--gray-3);
}

.form-error {
    width: 100%;
    margin-bottom: 12px;
}

#picture-col > img {
    width: 96%;
    height: 100%;
    object-fit: contain;
}

#book-separator {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 98%;
    box-shadow: -10px 0 20px var(--gray-8);
    border: solid transparent;
    box-sizing: border-box;
    z-index: 2;
}

#scene-text {
    padding: 0 2%;
}

@media screen and (max-width: 1080px) {
    
    #game-bg-wrapper {
        width: 100%;
        height: 100%;
        box-shadow: 0 0 4px var(--gray-2-transparent);
    }
    #game {
        flex-wrap: wrap;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .game-col {
        width: 100%;
        height: 50%;
    }
    #text-col {
        overflow-x: unset;
        overflow-y: unset;
    }
    #book-separator {
        display: none;
    }
    .cover-title {
        text-transform: uppercase;
        font-size: clamp(1.8rem,4vw,2.4rem);
    }
    .cover-subtitle {
        font-size: clamp(1.5em,4vw,2em);
    }
    .cover-authors {
        font-size: clamp(1.5em,4vw,2em);
    }
    #game * {
        font-family: 'Times New Roman', Times, serif;
        font-size: clamp(1em,10vw,1.05em);
    }
    .boton-bonito {
        font-family: 'Times New Roman', Times, serif;
        font-size: clamp(1.5em,8vw,2em);
    }
}

@media screen and (max-width: 1080px) and (orientation:landscape) {
    #portada {
        flex-direction: row;
        width: 100%;
    }
    #inicio-texto {
        width: 100%;
        flex-shrink: 1;
        justify-content: center;
    }
    #btn-start-game {
        margin: 1rem auto;
    }
}