body, html {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'typewriter';
    src: url('../assets/types/XTypewriter-z8oP4.ttf');
}
@font-face {
    font-family: 'cover';
    src: url('../assets/types/SparkyStonesRegular-BW6ld.ttf');
}

.d-none {
    display: none !important;
}

.main-columna {
    position: relative;
}

#game-bg-wrapper {
    width: 100%;
    background-color: #ffffff;
    max-height: 60vh;
    aspect-ratio: 16/9;
    position: relative;
    display: flex;
}

#inicio-juego {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.game-border {
    box-shadow: 4px 4px 4px #22222299;
    border: 1px solid #dddddd;
}

.div-cover-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    max-height: 100%;
    aspect-ratio: 1;
    mix-blend-mode: multiply;
}

.cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover-text {
    font-family: 'cover', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #222222;
    word-break: keep-all;
    text-align: center;
    text-shadow:
        3px 3px 10px #ffffff,
        -3px 3px 10px #ffffff,
        -3px -3px 10px #ffffff,
        3px -3px 10px #ffffff;
}
.cover-title {
    text-transform: uppercase;
    font-size: clamp(0.8em,6.4vw,2.4em);
}
.cover-subtitle {
    font-size: clamp(0.5em,4vw,1.5em);
}
.cover-authors {
    font-size: clamp(0.5em,2.5vw,1.5em);
}

.boton-bonito {
    background-color: #ec7800;
    color: #222222;
    font-size: clamp(10px,5vw,16px);
    outline: 0;
    border: 0;
    box-shadow: 4px 4px 0 #333333;
    width: clamp(200px,16vw,400px);
    aspect-ratio: 4/1;
    transition-duration: 0.4s;
}

.boton-bonito:hover {
    transition-duration: 0.4s;
    transform: translate(-4px,-4px);
    box-shadow: 8px 8px 0 #333333;
}

.boton-bonito:active {
    transform: translate(0,0);
    box-shadow: 4px 4px 0 #222222;
}

#btn-start-game {
    margin: auto;
}

#inicio-texto {
    position: relative;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    width: 100%;
    grid-gap: clamp(0px,1vw,40px);
    z-index: 1;
    padding: 2% 0;
}
#inicio-texto::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    mix-blend-mode: overlay;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

#inicio-texto > h1,
#inicio-texto > h2,
#inicio-texto > h3 {
    margin: 0;
    width: 100%;
    min-width: 0;
}

/* Una vez empezado el juego */
#game {
    width: 96%;
    display: flex;
    padding: 2%;
}

#game * {
    font-family: 'typewriter', 'Times New Roman', Times, serif;
    font-size: clamp(1em,10vw,1.05em);
}
.boton-bonito {
    font-family: 'typewriter', 'Times New Roman', Times, serif;
    font-size: clamp(1.1em,10vw,1.2em);
}

.game-col {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#text-col {
    background-color: white;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: auto;
}

#scene-text {
    width: 100%;
}

#action-selectors {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    gap: 14px;

    min-height: 50px;
    padding: 2%;
    border-top: 1px solid #333333
}

#action-selectors > span {
    color: #333333;
    position: relative;
    cursor: pointer;
    text-align: end;
}

#action-selectors > span:hover {
    cursor: pointer;
    color: #111111;
    font-style: italic;
    text-decoration: underline;
}


#action-selectors > span::after {
    content: '\25C0';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-125%,-50%);
    color: #333333;
    transition-duration: 0.5s;
}

#action-selectors > span:hover::after {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-225%,-50%);
    transition-duration: 0.5s;
    font-style: normal;
}

form {
    position: relative;
    width: 100%;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

.game-text-input {
    height: 36px;
    flex-grow: 3;
    border-width: 1px 0 1px 1px;
    border-color: #dddddd;
    border-radius: 6px 0 0 6px;
}

.game-text-input:focus {
    height: 36px;
    box-sizing: border-box;
    outline: 0;
    border-width: 1px 0 1px 1px;
    border-color: #333333;
}

.submit-text-input {
    height: 36px;
    flex-grow: 1;
    background-color: #ec7800;
    color: #000000;
    border-width: 1px;
    border-color: #333333;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    box-shadow: 0 0 0 #333333;
}

.submit-text-input:hover {
    height: 36px;
    transition-duration: 0.4s;
    transform: translate(-4px,-4px);
    box-shadow: 4px 4px 0 #333333;
}

.submit-text-input:active {
    height: 36px;
    transition-duration: 0.4s;
    transform: translate(0,0);
    box-shadow: 0 0 0 #333333;
}

.form-error {
    width: 100%;
    margin-bottom: 12px;
}

#picture-col > img {
    width: 96%;
    height: 100%;
    object-fit: contain;
    padding-right: 4%;
    mix-blend-mode: multiply;
}

#book-separator {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 100%;
    box-shadow: -10px 0 20px #888888;
    border: solid transparent;
    box-sizing: border-box;
    z-index: 2;
}

#scene-text {
    padding: 0 2%;
}

@media screen and (max-width: 1080px) {
    #game-bg-wrapper {
        width: 100%;
        aspect-ratio: 9/16;
        max-height: 80vh;
        box-shadow: 0 0 4px #22222299;
    }
    .div-cover-img {
        width: 90%;
    }
    #game {
        flex-wrap: wrap;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .game-col {
        width: 100%;
        height: 50%;
    }
    #text-col {
        overflow-x: unset;
        overflow-y: unset;
    }
    #book-separator {
        display: none;
    }
    .cover-title {
        text-transform: uppercase;
        font-size: clamp(0.8em,6.4vh,2.4em);
    }
    .cover-subtitle {
        font-size: clamp(0.5em,4vh,1.5em);
    }
    .cover-authors {
        font-size: clamp(0.5em,2.5vh,1.5em);
    }
    #game * {
        font-family: 'typewriter', 'Times New Roman', Times, serif;
        font-size: clamp(1em,10vw,1.05em);
    }
    .boton-bonito {
        font-family: 'typewriter', 'Times New Roman', Times, serif;
        font-size: clamp(1.1em,10vw,1.2em);
    }
}