html, body {
    margin: 0;
    padding: 0;
}

:root {
    --dark-color: #222222;
    --light-color:#cccccc;
}

.game-bg-wrapper {
    width: clamp(360px,100vw,1080px);
    position: relative;
}

.game-bg {
    aspect-ratio: 16/9;
    background-color: var(--dark-color);
    position: relative;

    padding: 12px;
    
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 5%;
}

.game-text {

}

.text-style {
    color: var(--light-color);
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(1em,5vw,1.5em);
}

.game-input {
    flex-grow: 1;
    background-color: var(--dark-color);
    border: inset 1px solid var(--light-color);
    color: var(--light-color);
}

.game-input:focus {
    outline: 0;
}

#game-input-div {
    background-color: var(--dark-color);
    display: flex;
}

#game-input-div > span {
    padding: 0 6px;
    font-weight: bolder;
}

#boton-bonito-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-color);
}

.boton-bonito {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: clamp(120px,33%,360px);
    height: clamp(48px,10vw,144px);

    border: 0;
    border-radius: 12px;
    background-color: var(--light-color);

    color: var(--dark-color);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: clamp(1em,5vw,2.5em)
}